body{
    background-color: #fafafa;
}

header {
    background-color: #ffffff;
}
.y15{
    padding : 10px;
}
.mara{
margin-top: 10px;    
}
.storyy-img
{
    width: 50px;
    
    height: 50px;
    border-radius: 50%;
}
.storyy-text{
    font-size: 12px;
    margin-bottom: 0;
}
.felfel{
    display: flex;
}